
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100;400&family=Raleway:wght@300;500&family=Roboto&family=Trochut&display=swap');


body{
    font-family: "Roboto";
}

.container {
    display: flex;
}

aside{
    width: 25%;
    border-right:  solid #E8EBE4 2px ;
}

.imagen img{
    height: 3rem ;
    border-radius: 1.5rem;
    border:solid #E8EBE4 2px ;
}

.top {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem 1.25rem 0.3rem 1.6rem;
    border-bottom: solid #E8EBE4 2px ;

}

.first{
    display: flex;
}

.first-tex{
    padding: 0.7rem 1.2rem 1rem 1rem;
    }
.name{
    font-size: 1rem;
    font-weight: 400;
}

.active{
    font-size: 0.8rem;
    font-weight: 300;
    color: #bec1bb;

}

.fa-regular{ 
    padding: 0.2rem;
    
}

.fa-solid { 
    padding: 0.2rem;
    
}


button{
    background-color: #a491da;
    margin: 1rem;
    text-align: center;
    color:#fff;
    border: none;
    width: 80%;
    height: 3rem;
    padding: 0.2rem;
    align-items: center;
    font-size: 1rem;
    
    

}

button:hover{
    background-color: #CDC3E6 ;
    cursor:pointer ;
}

button:focus{
    background-color: #bec1bb ; }

.new-chat{
    display: flex;
    justify-content: center;
    padding: 1rem;

}

.chats img{
    height: 3rem;
    border-radius: 50%;
    border:solid #E8EBE4 2px ;
    

}

.chat-active {
    font-size: 0.87rem;
    font-weight: 300;
    padding-left: 10px;
 
}

.chats {
    display: flex;
    padding: 0 0 0 1px;
    border-top: solid #E8EBE4 2px ;
    padding: 0.5rem 1.25rem 1.25rem 0.5rem;
}

.chat-name{
    padding-left: 10px;
}




.chats:hover{
    background-color: #d4dcff ;
    cursor:pointer ;
    border-radius: 1rem;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;

}

main img{ height: 18rem;}


main h1 {
    font-weight: 0.5rem ;
    font-size: 45px ;
    margin-bottom: 0 ;
    padding-bottom: 0.7rem;
}

main h2{

    font-size: 16px;
  
    margin: 0 390px 0 390px;
    text-align: center;
    

}




/*  hecho antes de la corrección con tutor */

/*  hecho antes de la corrección con tutor
section {
    display: flex;
    width: 250px;
    background-color: #fff;
}

.usermenu{ 
    display: flex;
    justify-content:space-around ;
    width: 250px;
    align-items:center;
    padding: 5px;
}

/*NUEVO CHAT */

/*  hecho antes de la corrección con tutor 
button{ background-color: #a491da;
    margin: 20px;
    text-align: center;
    color:#fff;
    border: none;
    width: 200px;

}


/*  hecho antes de la corrección con tutor 
button:hover{
    background-color: #CDC3E6 ;
}

button:focus{
    background-color: #bec1bb ;


}

p.chat{
    font-size: 14px;

}

/*  hecho antes de la corrección con tutor */
/*LISTA DE CONTACTOS 
.photocontacs {
    height: 60px;
    border-radius: 30px;
    margin: 5px 5px 5px 10px ;  
}

.contacs{
    display: flex;
}


/* MAIN 

main{ display: flex;

}
.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 800px;
    text-align: center;

}

.welcome-img
 {height: 100px;
}

.welcome-text{ margin: 0 30px 0 30px;}






.userphoto {
     height: 60px;
     border-radius: 30px;}
   




.user-status{ 
    font-size: 10px;

}

.name{
    font-size: 16px;

}

.list {
    border-color: red;}


    
 */